name: deploy to docker hub

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.DOCKERHUB_REPONAME }}
      -
        name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          # tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      -
        name : Pull and Run 
        uses : appleboy/ssh-action@master
        with : 
          host : ${{secrets.EC2_HOST}}
          username : ec2-user
          key : ${{secrets.EC2_SSH_KEY}}
          port: ${{ secrets.PORT }}
          script : |
            docker rm -f $(docker ps -qa)
            docker rmi ${{ secrets.DOCKERHUB_REPONAME }}
            docker pull ${{ secrets.DOCKERHUB_REPONAME }}
            docker run -d -p 3000:3000 ${{ secrets.DOCKERHUB_REPONAME }}